<html>
<body>
<p style= "Color:Blue" > Hi welcome to the tricshot gamers site. Click the top link to create a new profile for you and the bottom one to search for your profile that you have entered before. If you are new start by clicking th top link and press submit then we will have your info for you to search up anytime you need it.</p>
<h2 style= "Color:Red" > Click this for creation of profile </h2>
 <a href="http://localhost:5000/profile">Create profile </a>


<h2 style= "Color:Red" > Click this for searching up profile </h2>
<a href= "http://localhost:5000/getprofile"> Get profile </a>
</body>
</html>